.App {
  font-family: sans-serif;
  text-align: center;
}

.garage {
  background-color: black;
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.garageDoor {
  background-color: grey;
  width: 90%;
}
